#intro {
    display: inline-block;
    width: 500px;
    height: 200px;
    position: relative;
    left: 100px;
}
#profile-pic {
    display: inline-block;
    height: 200px;
    position: relative;
    top: 45px;
    margin-top: 0px;
}

#card {
    width: 700px;
    position: relative;
    left: 150px;
}

ul {
    width: 1000px;
}

footer {
    width: 200px;
    position: relative;
    left: 400px;
    text-align: center;
}